# Virtual environment
venv/
.env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Allure generated results
allure-results/

# Logs
*.log

# IDE
.vscode/

# OS files
.DS_Store
Thumbs.db

# Generated Allure HTML report
reports/allure-report/